* {
    border: dotted #db8b3b 1px;
}

:root {
    --bg: hsl(210, 91%, 69%);
    --bg-dark: hsl(210, 78%, 56%);
    --footer: hsl(209, 61%, 19%);
    --text: hsl(0, 0%, 0%);
    --text-light: hsl(211, 78%, 95%);
}

body {
    background-color: var(--bg);
    color: var(--text-light);
}

a {
    color: var(--text-light);
}

i {
    width: 5%;
}

footer {
    background-color: var(--footer);
    color: var(--text-light);
    font-size: x-small;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
    color: var(--text-light);
}

.bg-light {
    background-color: var(--text-light);
    color: var(--text);
}

.box {
    color: var(--text);

}

.box:hover {
    color: var(--text);
    box-shadow: 3px var(--bg);

}

button {
    border-radius: 15px;
    background-color: var(--bg-dark);
    color: var(--text-light);
    width: 100px;
}

button:hover {
    box-shadow: hwb(209 0% 42%);
    transition: all linear .5s;
}

.logo-img {
    height: 2%vh;
    align-items: start;
    object-fit: cover;
    filter: opacity(.8);
    border-radius: 80%;
}

.rule {
    height: 300px;
    width: 100%;
    transform: rotateY(180deg);
    object-fit: cover;
    border-radius: 8px;
}